@font-face {
  font-family: "icomoon";
  src: url("icomoon.eot?pjnfmk");
  src: url("icomoon.eot?pjnfmk#iefix") format("embedded-opentype"),
    url("icomoon.ttf?pjnfmk") format("truetype"),
    url("icomoon.woff?pjnfmk") format("woff"),
    url("icomoon.svg?pjnfmk#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram1:before {
  content: "\e904";
}
.icon-youtube:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-social-twitter-circular:before {
  content: "\e901";
}
.icon-social-facebook-circular:before {
  content: "\e902";
}
