.header {
  height: 5rem;
  justify-content: flex-start;
}
.header a img {
  display: none;
}
.header a h3 {
  display: initial;
}

.header img {
  width: 3rem;
}

p,
strong {
  font-size: 2rem;
  line-height: 2.8rem;
}

.filemon-pal-campo {
  max-width: 120rem;
  margin: 0 auto;
}

.main-biblioteca {
  display: flex;
  align-items: center;
}

.light-box img {
  max-height: 95vh;
}
.contenedor {
  width: 90rem;
  height: 85vh;
}

.koha-container {
  width: 22rem;
  height: 16rem;
  margin: 3rem;
  padding: 1.5rem 1.5rem;
}

.koha-wrapper a {
  font-size: 2rem;
}

.entidades-alcaldia {
  width: initial;
}

.entidades-alcaldia__biblioteca-el-santuario {
  width: 30%;
}

.entidades-alcaldia__button {
  height: 8rem;
  margin-bottom: 2rem;
  border-radius: 2rem;
  cursor: pointer;
}

.entidades-alcaldia__button:active {
  transform: scale(0.9);
}
.entidades-alcaldia__button h3 {
  font-size: 2.5rem;
}

footer {
  min-height: 32rem;
  bottom: 0;
}

.logos {
  width: 120rem;
  flex-direction: initial;
  align-items: initial;
  padding-top: 0;
}

.logos h4 {
  font-size: 2rem;
}
.logos p {
  font-size: 1.5rem;
}
.logos img {
  margin: 2rem 0;
}
.logos .info-de-contacto img {
  margin: -1.1rem 0 0 0;
  width: 65%;
}

#seccion4 {
  padding-top: 0;
}

.redes-sociales-container {
  display: flex;
  min-height: 28rem;
}

.info-de-contacto,
.redes-sociales-alcaldia__container,
.redes-sociales-ministerio__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-de-contacto p {
  margin-top: 1rem;
}

.logo__redes-sociales-minCultura span:hover,
.logo__redes-sociales-alcaldia span:hover,
.info-de-contacto span:hover {
  color: #a3a3a3;
}

.logo__redes-sociales-minCultura {
  margin-top: 1.5rem;
}

.logo__redes-sociales-alcaldia {
  margin-top: 0.5rem;
}

.line-decoration {
  height: 25rem;
  width: 0.2rem;
  margin-right: 1rem;
  background-color: white;
}
