.header {
  height: 5rem;
  justify-content: flex-start;
}
.header a img {
  display: none;
}
.header a h3 {
  display: initial;
}

.header img {
  width: 3rem;
}

p {
  line-height: 2.8rem;
}

.actualitation-button {
  display: none;
}

.panel-btn {
  top: 0;
  right: 1vw;
  width: 5rem;
  height: 5rem;
  background-color: transparent;
  box-shadow: none;
}

.filemon-pal-campo {
  max-width: 120rem;
  margin: 0 auto;
}

main .map {
  width: 105rem;
}
.lbl-modal {
  width: 5rem;
  height: 5rem;
}

.palmarcito {
  top: 27%;
  left: 54%;
}

.san-matias {
  top: 33.5%;
  left: 70%;
}

.la-paz {
  top: 40%;
  left: 66%;
}

.pavas {
  top: 21%;
  left: 24%;
}

.la-teneria {
  top: 28.5%;
  left: 34%;
}

.contenedor {
  width: 90rem;
  height: 85vh;
}

.pdf {
  padding: 0 0.5rem;
}

.entidades-alcaldia {
  width: initial;
}

.entidades-alcaldia__biblioteca-el-santuario {
  width: 30%;
}

.entidades-alcaldia__button {
  height: 8rem;
  width: 75%;
  margin-bottom: 2rem;
  border-radius: 2rem;
  cursor: pointer;
}

.entidades-alcaldia__button:active {
  transform: scale(0.9);
}
.entidades-alcaldia__button h3 {
  font-size: 2.5rem;
}

footer {
  min-height: 32rem;
  bottom: 0;
}

.logos {
  width: 120rem;
  flex-direction: initial;
  align-items: initial;
  padding-top: 0;
}

.logos h4 {
  font-size: 2rem;
}
.logos p {
  font-size: 1.5rem;
}
.logos img {
  margin: 2rem 0;
}
.logos .info-de-contacto img {
  margin: -1.1rem 0 0 0;
  width: 65%;
}

#seccion4 {
  padding-top: 0;
  min-height: 36rem;
}

.redes-sociales-container {
  flex-direction: initial;
  min-height: 28rem;
}

.info-de-contacto,
.redes-sociales-alcaldia__container,
.redes-sociales-ministerio__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logos_secretatia-de-cultura {
  margin-top: 0;
}

.logo__redes-sociales-alcaldia {
  margin-top: 0.5rem;
}

.logo__redes-sociales-minCultura {
  margin-top: 1.5rem;
}

.info-de-contacto p {
  margin-top: 1rem;
}

.logos .redes-footer span:hover {
  color: #a3a3a3;
}

.line-decoration {
  height: 25rem;
  width: 0.2rem;
  margin-right: 1rem;
  background-color: white;
}
