/* --------------------------------------------------------------------- preproces */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  /* colores */
  --yellow: #d69d39;
  --red: #ba5241;
  --color_dark_blue: #13446b;
  --color_light_blue: #449cc0;

  --second-modal-color: rgba(34, 34, 34, 0.85);

  --normal_lateral_space: 0 2rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

*:before,
*:after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  position: relative;
  min-height: 100%;
}

h1,
h2 {
  font-size: 3rem;
  margin: 1rem 0;
  text-align: center;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
  text-align: center;
  color: white;
  text-decoration: underline;
}

body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

html,
body,
ul {
  font-family: "Raleway", sans-serif;
}

p,
strong {
  font-size: 1.6rem;
  margin: 1rem 0;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
}

/* --------------------------------------------------------------------- header section */

.header {
  position: sticky;
  top: 0;
  z-index: 998;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  padding: 1rem;
  background: var(--color_dark_blue);
  color: white;
  box-shadow: 0 1px 9px black;
}

header a {
  color: white;
}

header a h3 {
  display: none;
}

header img {
  width: 3rem;
}

.panel {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 998;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--second-modal-color);
  transition: transform 0.3s ease;
  transform: translate(-100%, 0);
}

.panel.is-active {
  transform: translate(0, 0);
}

.panel-btn {
  position: fixed;
  z-index: 999;
  bottom: 2vh;
  right: 2vw;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow);
  box-shadow: 0 0 10px black;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  background-color: white;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
  background-color: white;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: inherit;
  text-align: center;
}

.menu a {
  display: block;
  width: inherit;
  padding: 3.5rem;
  font-size: 2rem;
  color: white;
  transition: all 0.3s ease;
}

.menu a:hover {
  font-weight: bold;
  background-color: var(--color_dark_blue);
}

/* ----------------------------------------------------------------------slider section */

.container-slider {
  position: relative;
  width: 90%;
  max-width: 120rem;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 0 0 0.5rem #0b4a64, 0 1rem 2rem;
}
.slider {
  display: flex;
  width: 900%;
  height: 100%;
  margin-left: -100%;
}
.slider__section {
}
.slider__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider__btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background: var(--yellow);
  color: white;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  border-radius: 50%;
}
.slider__btn:hover {
  cursor: pointer;
  background: #e9ae48;
}
.slider__btn--right {
  right: 0.5rem;
}
.slider__btn--left {
  left: 0.5rem;
}

.button-container__actualitation {
  display: flex;
  justify-content: center;
}

.actualitation-button {
  display: block;
  width: 8rem;
  height: 3rem;
  margin-top: 4rem;
  font-size: 1.6rem;
  text-align: center;
  padding: 0;
}

/* --------------------------------------------------------------------- main section */
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 55vh;
  padding: var(--normal_lateral_space);
  margin: 2rem 0;
}

main h1 {
  text-align: center;
  margin: 1rem 0;
}

main .map {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 32rem;
  margin: 0 auto;
}

.map img {
  width: 100%;
}

main article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3rem;
}

#seccion1,
#seccion2,
#seccion3,
#seccion4 {
  padding-top: 7rem;
}

/* -------------------------------------------------------------------------- ventanas modales */

.modal1,
.modal2,
.modal3,
.modal4,
.modal5 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal1,
.modal2,
.modal3,
.modal4,
.modal5 {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}

#btn-modal__palmarcito:checked ~ .modal1,
#btn-modal__la-teneria:checked ~ .modal2,
#btn-modal__san-matias:checked ~ .modal3,
#btn-modal__la-paz:checked ~ .modal4,
#btn-modal__pavas:checked ~ .modal5 {
  opacity: 1;
  visibility: visible;
  z-index: 1000;
}

.contenedor {
  height: 50vh;
  margin: auto;
  background: #fff;
  box-shadow: 0.01rem 0.01rem 1rem rgba(0, 0, 0, 0.5);
  transition: all 300ms ease;
  position: relative;
  top: 3rem;
  transform: translateY(-30%);
}

#btn-modal__palmarcito:checked ~ .modal1 .contenedor,
#btn-modal__la-teneria:checked ~ .modal2 .contenedor,
#btn-modal__san-matias:checked ~ .modal3 .contenedor,
#btn-modal__la-paz:checked ~ .modal4 .contenedor,
#btn-modal__pavas:checked ~ .modal5 .contenedor {
  transform: translateY(0%);
}
.contenedor header {
  height: 4rem;
  padding: 1rem;
  background: var(--color_dark_blue);
  color: #fff;
}
.contenedor label {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}
.contenedor h4 {
  color: black;
}
.contenido {
  width: 100%;
  padding: 1rem;
}

.contenido h3 {
  margin-bottom: 1rem;
}

.btn-modal__input {
  display: none;
}

.lbl-modal {
  position: absolute;
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  background: url(../images/logos/boton-modal.png);
  background-size: cover;
  box-shadow: 0 0 4px black;
  border-radius: 50%;
  cursor: pointer;
}

.lbl-modal:active {
  transform: scale(0.9);
}

.palmarcito {
  top: 43%;
  left: 53.5%;
}

.san-matias {
  top: 48.5%;
  left: 70%;
}

.la-paz {
  top: 53%;
  left: 65%;
}

.pavas {
  top: 38.5%;
  left: 24%;
}

.la-teneria {
  top: 44%;
  left: 34%;
}

.contenedor__cuerpo {
  height: 90%;
  padding: 0 1rem;
  font-size: 1.2rem;
  overflow-y: scroll;
}
.contenedor__cuerpo h3 {
  color: black;
  font-weight: bold;
}

.map .map__palmarcito {
  top: 39%;
  position: absolute;
  width: 1rem;
  height: 1rem;
  left: 45%;
}

.contenedor__video {
  position: relative;
  display: flex;
  justify-content: center;
  height: 0;
  padding-bottom: 56.25%;
  margin: 2rem 0;
}
.contenedor__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.contenedor__pdf {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
.contenedor__pdf .pdf {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 15rem;
  border: 0.2rem solid #b50706;
  border-radius: 1rem;
  height: 5rem;
  font-weight: bold;
  color: black;
}
.contenedor__pdf .pdf:visited {
  color: black;
}
.contenedor__pdf .pdf p {
  color: black;
  margin-right: 0.5rem;
}
.contenedor__pdf .pdf .icon-file-pdf {
  font-size: 3rem;
  color: #b50706;
}

@media only screen and (min-width: 320px) and (max-width: 1200px) {
  .contenedor {
    width: 95%;
  }
}

/* --------------------------------------------------------------------- entidades alcaldia section */

.entidades-alcaldia {
  width: 100vw;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--normal_lateral_space);
  text-align: center;
  margin-bottom: 5rem;
}
.entidades-alcaldia__biblioteca-el-santuario {
  width: 100%;
}

.entidades-alcaldia__button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  color: white;
  background-color: var(--yellow);
  border: none;
  height: 10rem;
  margin-bottom: 2rem;
  border-radius: 2rem;
  padding: 0 10%;
}

.entidades-alcaldia__button:active {
  background-color: #0b4a64;
}

.entidades-alcaldia__button h1 {
  display: inline-block;
  padding: 0 0.8rem;
}

/* --------------------------------------------------------------------- footer */

footer {
  position: relative;
  display: flex;
  min-height: 90rem;
  width: 100%;
  font-size: 50vw;
  justify-content: center;
  background-color: var(--color_dark_blue);
  color: black;
}

.logos {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  width: 80%;
  margin-top: 4rem;
}

.logos p {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.logos img {
  width: 90%;
  margin-top: 1rem;
}

.redes-sociales-ministerio__container {
  text-align: center;
  margin-bottom: 4rem;
}

.logos .redes-footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.info-de-contacto {
  color: white;
}
.info-de-contacto h3 {
  margin-bottom: 1rem;
}
.logos .info-de-contacto img {
  width: 100%;
}

.redes-sociales-container {
  margin-bottom: 4rem;
}

.logos .redes-footer a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  margin: 0 1rem 1rem 1rem;
}

.logos span {
  margin: 0 0.5rem;
  color: white;
}

.logos span:active {
  transform: scale(0.9);
}

.logos .logo__redes-sociales-minCultura a:-webkit-any-link,
.logos .logo__redes-sociales-alcaldia a:-webkit-any-link {
  color: white;
}

.logo__redes-sociales-alcaldia {
  margin-top: -1.5rem;
}
.logos_secretatia-de-cultura {
  margin-top: -2rem;
}

.footer_container {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}

@media only screen and (min-width: 600px) {
  main .map {
    width: 55rem;
  }
  .lbl-modal {
    width: 2.5rem;
    height: 2.5rem;
  }

  .info-de-contacto {
    text-align: center;
  }
  .logos .info-de-contacto img {
    width: 70%;
  }
  .logos img {
    width: 70%;
  }
  .redes-sociales-container {
    text-align: center;
  }

  .palmarcito {
    top: 34%;
    left: 54%;
  }

  .san-matias {
    top: 40%;
    left: 70%;
  }

  .la-paz {
    top: 45.7%;
    left: 66%;
  }

  .pavas {
    top: 29%;
    left: 24%;
  }

  .la-teneria {
    top: 35.5%;
    left: 34%;
  }

  .entidades-alcaldia__button {
    width: 60%;
    margin: 0 auto;
  }
}
