h1,
h2 {
  font-size: 4rem;
  margin: 1rem 0;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 3rem;
  text-align: center;
  color: white;
  text-decoration: underline;
}
p {
  font-size: 2rem;
}

.header {
  height: 7rem;
}
.header img {
  width: 4rem;
}

.slider__btn {
  width: 4rem;
  height: 4rem;
  font-size: 3rem;
}

.slider__btn--right {
  right: 1rem;
}
.slider__btn--left {
  left: 1rem;
}

main .map {
  flex-direction: column;
  width: 73rem;
}

.lbl-modal {
  width: 3rem;
  height: 3rem;
}

.palmarcito {
  top: 32%;
  left: 54%;
}

.san-matias {
  top: 38%;
  left: 70%;
}

.la-paz {
  top: 44%;
  left: 66%;
}

.pavas {
  top: 26.5%;
  left: 24%;
}

.la-teneria {
  top: 33.5%;
  left: 34%;
}

.panel-btn {
  width: 8rem;
  height: 8rem;
}

.panel .menu a {
  font-size: 3rem;
  padding: 5rem;
}

.contenedor {
  height: 75vh;
  top: -1rem;
}
.contenedor header {
  height: 5.5rem;
}
.contenedor label {
  font-weight: bolder;
  font-size: 3rem;
}
.contenedor h4 {
  color: black;
}

.entidades-alcaldia__button {
  width: 40%;
  padding: initial;
}

#seccion4 {
  min-height: 120rem;
}

.logos {
  width: 65%;
}

.logos .info-de-contacto img {
  width: 80%;
}

.redes-sociales-container {
  display: flex;
  flex-direction: column;
}
.logos .redes-footer a {
  font-size: 7rem;
}

.logo__redes-sociales-alcaldia {
  margin-top: -1.5rem;
}

.logos_secretatia-de-cultura {
  margin-top: -4rem;
}
